.gridster
  %ul
    -#
      %li{ data: { row: '1', col: '1', sizex: '1', sizey: '1' } }
        = image_tag '1.png'
      %li{ data: { row: '2', col: '1', sizex: '1', sizey: '1' } }
        = image_tag '2.png'
      %li{ data: { row: '3', col: '1', sizex: '1', sizey: '1' } }
        = image_tag '3.png'
      %li{ data: { row: '1', col: '2', sizex: '2', sizey: '1' } }
        = image_tag '4.png'
      %li{ data: { row: '2', col: '2', sizex: '2', sizey: '2' } }
        = image_tag '7.png'
      %li{ data: { row: '1', col: '4', sizex: '1', sizey: '1' } }
        = image_tag '6.jpg'
      %li{ data: { row: '2', col: '4', sizex: '2', sizey: '1' } }
        = image_tag '5.jpg'
      %li{ data: { row: '3', col: '4', sizex: '1', sizey: '1' } }
        = image_tag '8.png'
      %li{ data: { row: '1', col: '5', sizex: '1', sizey: '1' } }
        = image_tag '9.png'
      %li{ data: { row: '3', col: '5', sizex: '1', sizey: '1' } }
        = image_tag '10.png'
      %li{ data: { row: '1', col: '6', sizex: '1', sizey: '1' } }
        = image_tag '11.jpg'
      %li{ data: { row: '2', col: '6', sizex: '1', sizey: '2' } }
        = image_tag '12.jpg'
      %li{ data: { row: '3', col: '1', sizex: '2', sizey: '1' } }
        = image_tag '13.png'
      %li{ data: { row: '3', col: '1', sizex: '1', sizey: '1' } }
        = image_tag '14.png'
      %li{ data: { row: '3', col: '1', sizex: '3', sizey: '1' } }
        = image_tag '15.png'
